:root{
    --nsb-first-color:#BC3475;
    --nsb-first-color-darker:#A52C6A;
    --nsb-second-color:#FFCC2A;
    --nsb-second-color-darker:#CC9F00;
    --nsb-gray-color:#ecf0f1;
    --nsb-gray-color-darker:#bdc3c7;
    --nsb-elegant-black: #1F1F1F;
    --nsb-font-family: "Poppins", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--nsb-font-family), serif;
}

.nsb-bg-primario{
    background-color: var(--nsb-first-color);
}

/* NAVBAR */

.nsb-navbar{
    color: #fff;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.nsb-logo{
    width:70px;
    height:60px;
}

.nsb-btn{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.nsb-btn-primario:disabled{
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    box-shadow: none;
}

.nsb-btn-registro, .nsb-btn-primario{
    background-color: var(--nsb-first-color);
    color: #fff;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.nsb-btn-registro:hover, .nsb-btn-primario:hover{
    background-color: var(--nsb-first-color-darker);
    color:#fff;
}
/*cuando le doy click al boton*/
.nsb-btn-registro:active, .nsb-btn-primario:active{
    transform: translateY(2px);
    background-color: var(--nsb-first-color-darker)!important;
    color:#fff!important;
}

.nsb-btn:active {
    transform: translateY(2px);
}

.nsb-btn-cancelar{
    background-color: var(--nsb-gray-color);
    color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.nsb-btn-cancelar:hover{
    background-color: var(--nsb-gray-color-darker);
    color:#000;
}

.nsb-btn-cancelar:active{
    transform: translateY(2px);
    background-color: var(--nsb-gray-color-darker)!important;
    color:#000!important;
}

.nsb-a-item{
    color: #000!important;
    text-decoration: none;
}
.nsb-a-item:hover{
    color: var(--nsb-first-color) !important;
    text-decoration: underline;
}
.nsb-a-login:active{
    color: var(--nsb-first-color-darker)!important;
    text-decoration: underline!important;
    border: none;
}

/* END NAVBAR */

.nsb-icon-links {
    display: flex;
    align-items: center;
}

.nsb-icon-links-a {
    margin-left: 15px;
}

.nsb-icon-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}


.nsb-error{
    color: red;
    font-size: 0.8rem;
    margin-top: 10px;
}

.nsb-input-error {
    border: 1px solid red;
}


.nsb-dropdown-menu {
    background-color: #fff;
    border-radius: 12px;
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 0;
}

.nsb-dropdown-item {
    padding: 15px 20px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nsb-dropdown-item:hover {
    background-color: #f8f9fa;
    color: var(--nsb-first-color);
}

.nsb-activo {
    color:var(--nsb-first-color);
}

.nsb-divider {
    border-top: 1px solid #e9ecef;
}

.nsb-dropdown-menu::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 12px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}




/* FOOTER */

.nsb-footer{
    background-color: var(--nsb-first-color);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    height: auto;
}

.nsb-footer-titulo{
    font-size: 1.25rem;
    color: #fff;
}

.nsb-footer-parrafo{
    font-size: 1rem;
    color: #fff;
}
.nsb-footer-titulo+ul>li{
    list-style: none;
}
.nsb-footer-titulo+ul{
    padding-left:0;
}
.nsb-footer-enlace{
    color: #fff;
    text-decoration: none;
}


/* END FOOTER */
