.select2-container--default .select2-selection--single {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    min-height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    right: 10px;
    top: 50%;
    transform: translateY(35%);
}

.select2-selection__placeholder {
    color: #000 !important;
}
